.carousel {
  align-self: center;
  justify-self: center;
}

.carousel-item {
  display: none;
}

.carousel-item.active {
  display: block;
}

.carousel-item.active canvas {
  width: 100% !important;
}

.carousel-ctrl-left:hover,
.carousel-ctrl-right:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}
