:root {
  --color1: #101b2a;
  --color2: #d8d8d8;
  --color3: rgb(36, 38, 41);
  --color4: rgb(92, 102, 114);
  --color5: rgb(108, 116, 127);
  --main-bg-color: var(--color2);
  --main-txt-color: var(--color3);
  --header-bg-color: var(--color1);
  --header-link-color: #cdd3db;
  --header-txt-color: #fff;
  --card-header-bg-color: rgb(100,100,100);
  --card-header-txt-color: #fff;
  
}

html {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--main-bg-color);
  font-size: 100%;
  font-family: 'Open Sans', sans-serif !important;
  padding: 0;
  margin: 0;
}

body * {
  border-radius: 0px;
}

#footer {
  /* background: #333333; */
  text-align: center;
  font-size: 0.8rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.align-self-center { align-self: center }
.justify-self-center { justify-self: center }

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
}

.col-1 { grid-column: auto / span 1 }
.col-2 { grid-column: auto / span 2 }
.col-3 { grid-column: auto / span 3 }
.col-4 { grid-column: auto / span 4 }
.col-5 { grid-column: auto / span 5 }
.col-6 { grid-column: auto / span 6 }
.col-7 { grid-column: auto / span 7 }
.col-8 { grid-column: auto / span 8 }
.col-9 { grid-column: auto / span 9 }
.col-10 { grid-column: auto / span 10 }
.col-11 { grid-column: auto / span 11 }
.col-12 { grid-column: auto / span 12 }


.list-group {
  padding: 0rem 0.125rem 0rem 1.35rem;
  margin: 0;
}

.list-group-item {
  list-style: decimal;
  /* text-align-last: justify; */
  font-size: 0.8rem;
}

.gridBox {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
    'navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar'
    'gridContent gridContent gridContent gridContent gridContent gridContent gridContent gridContent gridContent gridContent gridContent gridContent'
    'footer footer footer footer footer footer footer footer footer footer footer footer';
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
}

.gridSidebar {
  padding-left: 0.25rem;
  grid-area: gridSidebar;
}
.gridContent {
  padding: 0 2.5rem 0 2.5rem;
  grid-area: gridContent;
}
.gridFooter {
  grid-area: footer;
}

/* Small screens */
@media only screen and (max-width: 990px) {
  .gridBox {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-areas:
      'navbar'
      'gridContent';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0rem;
  }

  .gridSidebar {
    display: none;
  }
  .gridFooter {
    display: none;
  }
}
