/* Projects styling */
button[name='start_project'],
button[name='stop_project'],
button[name='remove_project'] {
  padding: 0;
  margin: 0rem 0rem 0rem 0.625rem !important;
  text-decoration: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.project-title {
  padding: 0rem 0rem 0rem 0rem;
  margin: 0rem 0rem 0.5rem 0rem;
}

.project-details-deck {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  grid-gap: 0.85rem;
}

.project-details-deck li {
  display: flex;
  justify-content: space-between;
}
.project-details-deck ul {
  list-style: none !important;
  padding: 0 ;
}

.project-details canvas {
  background-color: rgba(255, 255, 255, 0.85);
}

#samstatFileList li[data-file] {
  cursor: pointer;
}

#samstatFileList {
  margin: 0;
  padding: 0;
  list-style-image: none;
}

#samstatFileList li {
  padding: 0 0.5rem;
  margin-right: 0.05rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid rgba(127, 127, 127, 0.5);
  display: inline;
  background-color: var(--card-header-bg-color);
  color: var(--card-header-txt-color);
}

#samstatFileList li:hover {
  background-color: rgb(70, 70, 70);
}

#results > .card > .card-body > object {
  width: 100%;
  height: calc(50vh - 2.1rem);
}
/* 
  This moves the arrows in carousels to the center so make 
  sure to always use this syntax to define a carousel:
  div.col-1
  div.col-10
  div.col-1
*/
.carousel > .row > .col-1 {
  align-self: center;
  justify-self: center;
}

.logfile,
.errorfile {
  overflow: auto;
}

#getResultsButton {
  display: none;
  margin-top: 0.625rem;
}

@media only screen and (max-width: 990px) {
  .project-details-deck {
    grid-template-columns: 4fr 4fr 4fr;
  }
}

@media only screen and (max-width: 660px) {
  .project-details-deck {
    grid-template-columns: 1fr;
  }
}