.table-projects {
  width: 100%;
  border-spacing: 0;
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
}

.table-projects tr > td {
  border-bottom: 1px solid black;
}

.table-projects tr > td:not(:nth-child(2)),
.table-projects tr > th:not(:nth-child(2)) {
  text-align: center;
}

.table-projects tr > td:nth-child(3),
.table-projects tr > th:nth-child(3) {
  text-align: start;
}

.table-projects tr > td:first-child {
  vertical-align: top;
}

/* .table-projects tr:nth-child(even) {
  background: var(--color5);
} */

.table-projects thead {
  background: var(--header-bg-color);
  color: var(--header-txt-color);
}

.table-projects th {
  text-align: start;
  font-size: 1.125rem;
}

.table-projects tbody tr:hover {
  background: rgba(255, 255, 255, 0.5);
}

.table-projects td[name='projecttype'] {
  text-transform: capitalize;
}

.table-projects a,
.table-projects a:visited {
  text-decoration: none;
  font-weight: bold;
}

