<div class="modalBackground"></div>
<div class="modal">
  <div class="modal-header">Add new project</div>
  <form id="add_project_form">
    <div class="row">
      <label class="col-2">Name</label>
      <input class="col-8" type="text" name="projectname" placeholder="Projectname..." required>
    </div>
    <div class="row">
      <label class="col-2">Type</label>
      <select class="col-8" type="select" name="projecttype">
        <option value="" disabled selected>Select project type...</option>
        <option value="qa">Quality Assessment</option>
        <option value="dea">Differential Expression Analysis</option>
        <option value="align">Alignment</option>
      </select>
    </div>
    <div class="row">
      <div class="col-12">
        <fieldset id="options_qa" style="display: none">
          <div class="row">
            <label for="qaFiles" class="col-6">Files on which to perform QA</label>
            <input type="file" name="files" id="qaFiles" class="col-6" multiple>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <fieldset id="options_dea" style="display: none">
          <div>
            <div class="row">
              <label class="col-6">R-package for Differential Expression Analysis</label>
              <select type="select" multiple name="settings[packages]" class="col-6">
                <option disabled selected>Select...</option>
                <option value="deseq">DESeq</option>
                <option value="deseq2">DESeq2</option>
                <option value="edger">edgeR</option>
                <option value="bayseq">baySeq</option>
              </select>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="">Choose count matrix file</label>
                <span class="muted small text-valign-center">(previously created:
                  <input type="checkbox" name="previousCountMatrix" id="previousCountMatrix">)</span>
              </div>
              <select name="settings[countMatrixFile]" id="prevCountMatrixFile" disabled style="display: none" class="col-6">
                <option disabled selected>Projectname...</option>
                {{!-- Load count matrices from users folder and subfolders --}}
              </select>
              <input type="file" name="files" id="newCountMatrixFile" class="col-6">
            </div>
            <div class="row">
              <label for="countMatrixConditions" name="countMatrixConditions" style="display: none" class="col-6">Header from count matrix file</label>
              <div name="countMatrixConditions" id="countMatrixConditions" style="display: none" class="col-6">
                {{!-- Load conditions from self-provided count matrix file --}}
              </div>
            </div>
            <div class="row">
              <label for="" class="col-6">Significance Level</label>
              <input type="number" name="settings[significanceLevel]" step="0.01" min="0.01" max="0.99" list="defaultValues" placeholder="e.g. 0.05 for 5%"
                class="col-6">
              <datalist id="defaultValues">
                <option value="0.01">
                  <option value="0.05">
                    <option value="0.10">
              </datalist>
            </div>
            <div class="row">
              <label for="" class="col-6">Correlate Samples with each other?</label>
              <input type="checkbox" name="settings[correlateSamples]" id="correlateSamples" class="col-6">
            </div>
            <div class="row">
              <label for="settings[conditions]" class="col-6">Conditions
                <span class="muted small">(in order of count matrix files columns)</span>
              </label>
              <input type="text" name="settings[conditions]" id="uniqueConditions" class="col-6" placeholder="e.g. treated treated untreated untreated">
            </div>
            <div class="row">
              <label for="settings[pairwise]" class="col-6">Pairwise DEA tests on conditions
                <span class="muted small">( ; separated - e.g. A B;B C)</span>
              </label>
              <input type="text" name="settings[pairwise]" id="pairwise" class="col-6">
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <fieldset id="options_align" style="display: none">
          <div>
            <div>
              <div class="row">
                <label class="col-6" for="numCores">Number of cores</label>
                <input class="col-6" type="text" name="settings[numCores]" placeholder="Automatic">
              </div>
              <div class="row">
                <label class="col-6" for="mismatches">How many mismatches will you allow?</label>
                <input class="col-6" type="number" name="settings[mismatches]" placeholder="0">
              </div>
              <div class="row">
                <label class="col-6" for="preTrim">How many bases shall be trimmed from the 3' end?</label>
                <input class="col-6" type="number" min="0" name="settings[preTrim]" placeholder="0">
              </div>
              <div class="row">
                <label class="col-6" for="postTrim">How many bases shall be trimmed from the 5' end?</label>
                <input class="col-6" type="number" min="0" name="settings[postTrim]" placeholder="0">
              </div>
              <div class="row">
                <label class="col-6" for="settings[writeUnaligned]">Write unaligned reads to extra file?</label>
                <input class="col-6" type="checkbox" name="settings[writeUnaligned]">
              </div>
              <div class="row">
                <label class="col-6" for="settings[reference]">Which reference should be used by Bowtie?</label>
                <select class="col-6" name="settings[reference]">
                  <option disabled selected>Select reference...</option>
                </select>
              </div>
              <div class="row">
                <label class="col-6" for="settings[countMatrix]">Should a count matrix be created?</label>
                <input class="col-6" type="checkbox" name="settings[countMatrix]">
              </div>
              <div class="row">
                <label for="alignmentFiles" class="col-6">FASTQ files</label>
                <input type="file" name="files" id="alignmentFiles" class="col-6" multiple placeholder="Choose FASTQ files">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    {{!-- <div id="files" class="row">
      <label class="col-2">Files
        <span class="small muted text-valign-center">(*.fastq; *.fq)</span>
      </label>
      <input class="col-8" type="file" name="files" placeholder="Files..." accept=".fastq,.fq" multiple>
    </div> --}}
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <input type="submit" class="btn btn-success">
        <button type="button" class="btn btn-alert" id="resetForm">Reset</button>
        <button type="button" class="btn btn-primary" id="devButton">Dev</button>
      </div>
    </div>
  </form>
</div>