<form id="add_project_form">
  <div>
    <label>Name</label>
    <input type="text" name="projectname" placeholder="Projectname..." required>
  </div>
  <div>
    <label>Type</label>
    <select type="select" name="projecttype">
      <option value="" disabled selected>Select project type...</option>
      <option value="qa">Quality Assessment</option>
      <option value="dea">Differential Expression Analysis</option>
      <option value="align">Alignment</option>
    </select>
  </div>
  <fieldset id="options_dea" style="display: none">
    <div>
      <label>Options</label>
      <div>
        <div>
          <input type="checkbox" name="gridRadios" value="option1">
          <label for="gridRadios1">
            Options 1
          </label>
        </div>
        <div>
          <input type="checkbox" name="gridRadios" value="option2">
          <label for="gridRadios2">
            Options 2
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset id="options_align" style="display: none">
    <div>
      <label>Options</label>
      <div>
        <div>
          <label for="numCores">Number of cores</label>
          <input type="text" name="settings[numCores]" placeholder="Automatic">
        </div>
        <div>
          <label for="mismatches">How many mismatches will you allow?</label>
          <input type="number" name="settings[mismatches]" placeholder="0">
        </div>
        <div>
          <label for="preTrim">How many bases shall be trimmed from the 3' end?</label>
          <input type="number" name="settings[preTrim]" placeholder="0">
        </div>
        <div>
          <label for="postTrim">How many bases shall be trimmed from the 5' end?</label>
          <input type="number" name="settings[postTrim]" placeholder="0">
        </div>
        <div>
          <label for="settings[writeUnaligned]">Write unaligned reads to extra file?</label>
          <input type="checkbox" name="settings[writeUnaligned]">
        </div>
        <div>
          <label for="settings[reference]">Which reference should be used by Bowtie?</label>
          <select name="settings[reference]">
            <option value="" disabled selected>Select reference...</option>
          </select>
        </div>
      </div>
    </div>
  </fieldset>
  <div id="files">
    <label >Files</label>
    <input type="file" name="files" placeholder="Files..." accept=".fastq,.fq"
      multiple>
  </div>
  <div>
    <input type="submit" class="btn">
    <button type="button" class="btn">Cancel</button>
  </div>
</form>