<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Project Setup</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="add_project_form">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <input class="col-sm-9 form-control" type="text" name="projectname" placeholder="Projectname..." required>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Type</label>
            <select class="col-sm-9 form-control" type="select" name="projecttype">
              <option value="" disabled selected>Select project type...</option>
              <option value="qa">Quality Assessment</option>
              <option value="dea">Differential Expression Analysis</option>
            </select>
          </div>
          <fieldset class="form-group" id="options_dea" style="display: none">
            <div class="row">
              <label class="col-form-label col-sm-2 pt-0">Options</label>
              <div class="col-sm-9">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="gridRadios" value="option1">
                  <label class="form-check-label" for="gridRadios1">
                    Options 1
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="gridRadios" value="option2">
                  <label class="form-check-label" for="gridRadios2">
                    Options 2
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Files</label>
            <input class="col-sm-9 form-control" type="file" name="files" placeholder="Files..." accept=".fastq,.fq" multiple>
          </div>
          <div class="form-group row">
            <input type="submit" class="offset-sm-2 btn btn-primary btn-sm">
            <button type="button" class="ml-5 btn btn-danger btn-sm">Cancel</button>
          </div>
          <div class="form-group row" style="display: none">
            <div class="progress offset-sm-2 col-sm-9 pl-0 pr-0">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="form-group row">
            <span class="form-text offset-sm-2 col-sm-9 pl-0 pr-0" name="status"></span>
          </div>
          <input type="hidden" name="uid" value="{{user._id}}">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Button</button>
      </div>
    </div>
  </div>
</div>