<div class="card sidebar">
  <div class="card-header">Memory Usage</div>
  <div class="card-body">
    <div class="card-text">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Total Heap (MB)</li>
        <li class="list-group-item">Used Heap (MB)</li>
        <li class="list-group-item">External (MB)</li>
      </ul>
    </div>
  </div>
</div>
<div class="card sidebar">
  <div class="card-header">CPU Usage</div>
  <div class="card-body">
    <div class="card-text">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Total Heap (MB)</li>
        <li class="list-group-item">Used Heap (MB)</li>
        <li class="list-group-item">External (MB)</li>
      </ul>
    </div>
  </div>
</div>
<div class="card sidebar">
  <div class="card-header">Disk Usage</div>
  <div class="card-body">
    <div class="card-text">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Total Heap (MB)</li>
        <li class="list-group-item">Used Heap (MB)</li>
        <li class="list-group-item">External (MB)</li>
      </ul>
    </div>
  </div>
</div>
<div class="card sidebar">
  <div class="card-header">Uptime</div>
  <div class="card-body">
    <div class="card-text">
      5645626 sec
    </div>
  </div>
</div>