{{#if user}}
<p>You are already logged in!</p>
{{else}}
<form method="POST" action="/users/login" style="max-width: 500px">
    <div>
        <label>Email</label>
        <div>
            <input class="form-control" type="text" placeholder="Username..." name="email">
        </div>
    </div>
    <div>
        <label>Password</label>
        <div>
            <input class="form-control" type="password" placeholder="Password..." name="password">
        </div>
    </div>
    <div>
        <div>
            <button type="submit" class="btn">Login</button>
        </div>
    </div>
</form>
{{/if}}