<form style="width: 75%" id="form_settings" name="form_settings" method="POST" action="/settings">
    <fieldset>
        <legend>Profile Settings</legend>
        <div>
            <label>Username</label>
            <input type="text" name="username" {{#if user.username}} value="{{user.username}}" {{else}} placeholder="Username" {{/if}}
                focus>
        </div>
        <div>
            <label>eMail</label>
            <input type="text" name="email" {{#if user.email}} value="{{user.email}}" {{else}} placeholder="eMail" {{/if}} disabled>
        </div>
    </fieldset>
    <div>
        <button class="btn" type="submit">Save Settings</button>
    </div>
</form>
<p>
    <form id="form_remove_user" method="POST" action="/users/remove">
        <button type="submit" class="btn">Remove Account</button>
        <span>All your data will be removed permanently!</span>
    </form>
</p>