/* Coolors Exported Palette - coolors.co/e6dced-eae0fc-d8d9fc-c6c9e8-b6b2cc */

/* HSL */
$color1: hsla(275%, 32%, 90%, 1);
$color2: hsla(261%, 82%, 93%, 1);
$color3: hsla(238%, 86%, 92%, 1);
$color4: hsla(235%, 43%, 84%, 1);
$color5: hsla(249%, 20%, 75%, 1);

/* RGB */
$color1: rgba(230, 220, 237, 1);
$color2: rgba(234, 224, 252, 1);
$color3: rgba(216, 217, 252, 1);
$color4: rgba(198, 201, 232, 1);
$color5: rgba(182, 178, 204, 1);