
body {
  background: #a3a0a0 !important;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif !important;
}

body * {
  border-radius: 0px !important;
}

/* Create margin from main container to navbar */
#main {
  margin-top: 25px;
}

#footer {
  background: #333333;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
  font-size: 80%;
}

.spacer {
  margin-bottom: 41px;
}

/* Header */

#header {
  background: #333333;
  color: #ffffff;
  /* padding-bottom: 10px; */
  margin-bottom: 15px;
  vertical-align: center;
}

/* Progress Bars */
.progress-bar {
  background: #333333;
  color: #ffffff;
}

/* Navbar logout hover styling */
.logout a:hover {
  cursor: pointer;
}




/* Projects styling */
button[name="start_project"],button[name="stop_project"],
button[name="remove_project"] {
  padding: 0;
  margin: 0px 0px 0px 10px !important;
  text-decoration: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}







/* Tablets */
@media only screen and (max-width: 768px) {
  #footer {
      display: none;
  }

  #breadcrumb {
      display: none;
  }

}

/* Small screens */
@media only screen and (max-width: 990px) {
  #footer {
      display: none;
  }

  #breadcrumb {
      display: none;
  }

  nav {
      margin-bottom: 15px !important;
  }
}

@media only screen and (max-width: 1100px) {
  td[name="files"],th[name="files"],
  td[name="created_at"],th[name="created_at"] {
    display: none !important;
  }
}

@media only screen and (max-width: 360px) {
  td[name="settings"],th[name="settings"],
  td[name="projecttype"],th[name="projecttype"] {
    display: none !important;
  }
}