{{>projectDetailsHeader}}

{{#stringCompare project.status 'done'}}
<button class="btn" id="getResultsButton">Show Results</button>
{{else}}
Project status: {{project.status}}
{{/stringCompare}}

{{#if project.logfiles}} {{!-- Put PDF viewer code here as it does only exist if --}}
<div id="results">

</div>

{{>projectDetailsFooter}}

<!-- (HandleBars) Save projects JSON data in the browsers window object -->
<script>window.Report = {{{ json project }}}</script>
<script defer src="/js/Chart.bundle.min.js"></script>
<script defer src="/js/Chart.BoxPlot.min.js"></script>
<script defer src="/js/results/qa.js"></script> {{/if}}